@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Roboto:wght@300;400&display=swap');


.mainContainer {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
  }