/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

/*  */




@media (max-width: 575.98px) { 

 }
@media (max-width: 767.98px) { 
    .home .welcome {
        max-height: 500px;
        overflow: hidden;
    }

    .home .cta img {
        height: 400px;
        padding: 20px;
    }
    .about .contact img {
        height: 600px;
        padding: 20px;
        transform: scaleX(-1) rotate(55deg) translate(-30%,30%);
    }
 }
@media (max-width: 991.98px) { 
    
 }
@media (max-width: 1199.98px) { 
    
 }
@media (max-width: 1399.98px) { 
    
 }



/*utilities*/
.drop-shadow {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}
.inner-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    top: 0;
    left: 0;
}


