/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

/* Global */
#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

main.login section.login .illustration {
transform: scale(1.20) scaleX(-1) translate(-40px,60px);
}
main.login section.cta {
    min-height: 595px;
}

main.login section.cta .illustration {
    transform: scale(1.25) translateY(30px);
}

@media (max-width: 575.98px) { 

 }
@media (max-width: 767.98px) { 
    main.home section.welcome {
        max-height: 500px;
        overflow: hidden;
    }

    main.home section.cta img {
        height: 400px;
        padding: 20px;
    }
    main.about section.contact img {
        height: 600px;
        padding: 20px;
        transform: scaleX(-1) rotate(55deg) translate(-30%,30%);
    }
    main.login section.login {
        height: 600px;
        overflow: hidden;
    }
    main.login section.login .illustration  {
        height: 400px;
        padding: 20px;
       transform: translate(50%,-10%) scale(1.25) scaleX(-1) rotate(-25deg);
    }

    main.login section.cta .illustration {
        transform: scale(0.95);
        }
 }
@media (max-width: 991.98px) { 
    
 }
@media (max-width: 1199.98px) { 
    
 }
@media (max-width: 1399.98px) { 
    
 }



/*utilities*/
.drop-shadow {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}
.inner-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    top: 0;
    left: 0;
}
.flipX{
    transform: scaleX(-1);
}

.btn-square {
    width: 150px !important;
    height: 150px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    text-align: center;
    padding: 0px;
}

